
spring:
  # GENERAL
  threads:
    virtual:
      enabled: true


  # REST
  management:
    endpoints:
      web:
        exposure:
          include: "*"

    endpoint:
      health:
        show-details: always


  # MONGO
  data:
    mongodb:
      uri: --


  # KAFKA
  kafka:
    bootstrap-servers: --
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    consumer:
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        specific.avro.reader: true
    properties:
      max.block.ms: 700
      value.subject.name.strategy: io.confluent.kafka.serializers.subject.TopicRecordNameStrategy
      schema.registry.url: --
